{% extends "all.html" %}

{% block titel %}
  Add Task
{% endblock titel %}

{% block style %}
  <link rel="stylesheet" href="/static/addtask.css">
{% endblock style %}

{% block main-body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Add New Task</h2>
            <div class="add-task-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="user_task">Your Task:</label>
                        <textarea id="user_task" name="user_task" class="form-control" rows="5" placeholder="Enter your task here..."></textarea>
                    </div>
                    <label for="start">Enter the Date:</label>
                    <input type="date" name="enddate" id="date-input" class="form-control" 
                        placeholder="mm-dd-yyyy" value="" 
                        min="1997-01-01" max="2030-12-31">  
                        <div class="time-input-group my-2">
                            <label for="appt">Select a time:</label>
                            <input type="time" name="endtime" id="appt" name="appt">
                        </div>                        
                    <button type="submit" class="btn btn-primary mt-3" id="but">Add Task</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main-body %}
