{% extends "all.html" %}

{% block titel %}
  Log Out Task Reset?
{% endblock titel %}

{% block style %}
  <link rel="stylesheet" href="/static/logOutReset.css">
{% endblock style %}

{% block main-body %}
<div class="reset-container">
    <h2>Are you sure you want to reset during log out?</h2>
    <p>This action cannot be undone. Please confirm if you want to proceed with the reset.</p>
    <form action="" method="post">
        {% csrf_token %}
    <div class="reset-buttons">
        <button name="byes" id="confirm-reset" value="True">Yes, Reset</button>
        <button name="bno" id="cancel-reset" value="True">No, Don't Reset </button>
    </div>
    </form>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1051752597726838"
     crossorigin="anonymous"></script>
<!-- not log home -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1051752597726838"
     data-ad-slot="6246640964"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock main-body %}
